body {
	background-color: lightblue;
}
h1 {
	color: white;
	text-align: center;
}
p {
	font-family: verdana;
	font-size: 20px;
}

h1 {
	font-size: 50px;
}

<<<<<<< HEAD
h2 {
	font-size: 32px;
=======
h22 {
	font-size: 22px;
>>>>>>> parent of 772ea50 (changed some files)
}
